#name {
    font-size:2em;
    font-family: cursive
    font-weight: bold;
    color: blue
}

    .rightjust {
        text-align:right;     
    }
    .aligntop{
        vertical-align: top;
    }
       div {
          display:inline-block;
          width: 49%;
          color: red
                }