#name {
    font-size:2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;   
}

    .rightjust {
        text-align:right;     
    }
    .aligntop{
        vertical-align: top;
        font-size: 1.2em;
    }
    .aligntop, .rightjust {
        display:inline-block;
        width: 49%;       
              }

table, tr, th, td {
    border: 1px solid silver;
    border-collapse: collapse;
}
tr {
    border: 1px solid silver;
}
td{
    text-align: center; 
    width: 20%;   
}
table {
    width:100%;
}
.role {
    font-weight: bold;
}
.company {
    font-style: italic;
}
.job-max {
    color: red;
}